.others {
  padding: 40px 30px;
}

.heading {
  font: inherit;
  font-size: 28px;
  line-height: 140%;
  font-weight: 600;
  margin-bottom: 10px;
}

.text {
  font: inherit;
  margin-bottom: 40px;
}

.list {
  margin-bottom: 40px;
  max-width: 315px;
}

.item {
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.item a > img {
  display: block;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.body {
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #3b3b3b;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.work {
  font: inherit;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 5px;
}

.author {
  display: flex;
  gap: 12px;
  align-items: center;
  font: inherit;
  color: #ffffff;
  margin-bottom: 25px;
}

.author img {
  width: 24px;
  height: 24px;
  max-width: 24px;
  border-radius: 50%;
  flex-shrink: 0;
}

.prices {
  display: flex;
  justify-content: space-between;
}

.price,
.bid {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  font-family: 'Space Mono', Arial, sans-serif;
}

.bid {
  text-align: right;
}

.label {
  color: #858584;
  font-size: 12px;
}

.value {
  color: #fff;
  font-size: 16px;
}

.button {
  width: 315px;
  height: 60px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: transparent;
  border: 2px solid #a259ff;
  border-radius: 20px;
  color: #ffffff;
  font: inherit;
  font-weight: 600;
}

@media (min-width: 834px) {
  .others {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      'heading button'
      'text button'
      'list list';
    align-items: end;
    padding: 80px 72px;
    column-gap: 30px;
  }

  .heading {
    grid-area: heading;
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 140%;
  }

  .text {
    grid-area: text;
    margin-bottom: 40px;
  }

  .button {
    grid-area: button;
    width: auto;
    min-width: 187px;
    margin-bottom: 40px;
    box-sizing: border-box;
  }

  .list {
    grid-area: list;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 100%;
    max-width: none;
    margin-bottom: 0;
  }

  .item {
    margin-bottom: 0;
  }

  .item:nth-child(n + 3) {
    display: none;
  }
}

@media (min-width: 1280px) {
  .others {
    padding: 80px 115px;
  }

  .heading {
    font-size: 38px;
    line-height: 140%;
  }

  .text {
    font-size: 22px;
    line-height: 160%;
  }

  .list {
    grid-template-columns: repeat(3, 1fr);
  }

  .item:nth-child(n + 3) {
    display: block;
  }
}
