.section {
  padding: 40px 30px;
  color: #ffffff;
}

.heading {
  margin: 0;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 28px;
  line-height: 140%;
  font-weight: 600;
}

.text {
  margin: 0;
  margin-bottom: 40px;
  font: inherit;
}

.card {
  max-width: 315px;
  margin-bottom: 40px;
  background-color: #3b3b3b;
  border-radius: 20px;
}

.body {
  padding: 22px 20px;
}

.title {
  margin: 0;
  margin-bottom: 10px;
  font: inherit;
  font-size: 22px;
}

.author {
  display: flex;
  gap: 12px;
}

.started {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 315px;
  height: 60px;
  color: #ffffff;
  background-color: #a259ff;
  text-decoration: none;
  border-radius: 20px;
  margin-bottom: 40px;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  column-gap: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 85px;
}

.value {
  font-family: 'Space Mono', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 160%;
}

.label {
  font-family: inherit;
}
.cover {
  display: block;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
@media (min-width: 834px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 330px;
    grid-template-areas:
      'heading card'
      'text card'
      'started card'
      'list card';
    column-gap: 30px;
    align-items: start;
    padding: 80px 72px;
  }

  .heading {
    grid-area: heading;
    font-size: 38px;
    line-height: 140%;
    margin-bottom: 20px;
  }

  .text {
    grid-area: text;
    margin-bottom: 30px;
  }

  .card {
    grid-area: card;
    max-width: none;
    width: 100%;
    margin-bottom: 0;
  }

  .started {
    width: 224px;
    grid-area: started;
    margin-bottom: 30px;
  }

  .list {
    grid-area: list;
  }

  .value {
    font-size: 22px;
  }
}

@media (min-width: 1280px) {
  .section {
    grid-template-columns: 1fr 1fr;
    padding: 80px 115px;
  }

  .heading {
    font-size: 67px;
    line-height: 110%;
    margin-bottom: 20px;
  }

  .text {
    font-size: 22px;
    line-height: 160%;
    margin-bottom: 30px;
  }

  .item {
    width: auto;
    flex: 1;
  }

  .value {
    font-size: 28px;
    line-height: 140%;
    font-weight: 700;
  }

  .label {
    font-size: 24px;
    line-height: 160%;
  }

  .cover {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }
}
