.works {
  padding: 40px 30px;
  max-width: 315px;
}

.heading {
  margin: 0 0 10px;
  font: inherit;
  font-size: 28px;
  font-weight: 600;
  line-height: 140%;
}

.text {
  margin: 0 0 40px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #3b3b3b;
}

.iconWrap {
  flex-shrink: 0;
  width: 84px;
  height: 84px;
  overflow: hidden;
  border-radius: 50%;
}

.icon {
  width: 130px;
  height: 130px;
  max-width: none;
  margin: -23px;
}

.title {
  margin: 0 0 10px;
  font: inherit;
  font-size: 16px;
  font-weight: 600;
}

.description {
  margin: 0;
  font-size: 12px;
  line-height: 140%;
}

@media (min-width: 834px) {
  .works {
    max-width: none;
    padding: 80px 72px;
  }

  .text {
    margin-bottom: 48px;
  }

  .list {
    flex-direction: row;
    align-items: stretch;
    gap: 30px;
  }

  .item {
    flex: 1;
    flex-direction: column;
    padding: 30px 20px;
    text-align: center;
  }

  .iconWrap {
    width: 160px;
    height: 160px;
  }

  .icon {
    width: 248px;
    height: 248px;
    margin: -44px;
  }

  .item > div {
    text-align: center;
  }

  .description {
    color: #858584;
  }
}

@media (min-width: 1280px) {
  .works {
    padding: 80px 115px;
  }

  .heading {
    font-size: 38px;
    line-height: 140%;
  }

  .text {
    font-size: 22px;
    line-height: 160%;
    margin-bottom: 48px;
  }

  .iconWrap {
    width: 250px;
    height: 250px;
  }

  .icon {
    width: 388px;
    height: 388px;
    margin: -69px;
  }

  .title {
    font-size: 22px;
    line-height: 140%;
  }

  .description {
    font-size: 16px;
    line-height: 140%;
    color: #858584;
  }
}
