.trending {
  width: 315px;
  padding: 40px 30px;
}

.heading {
  margin: 0;
  font: inherit;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
}

.text {
  font: inherit;
  margin-bottom: 40px;
}

.cards {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card:nth-child(n + 2) {
  display: none;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
}

.list li:first-child {
  width: 100%;
}

.list li:not(:first-child) {
  width: calc((100% - 30px) / 3);
}

.cover,
.thumb {
  display: block;
  width: 100%;
  border-radius: 24px;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  background-color: #a259ff;
  border-radius: 20px;
  font-family: 'Space Mono', Arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 140%;
  font-weight: 700;
}

.category {
  font-size: 22px;
  line-height: 140%;
  font-weight: 600;
  margin-bottom: 10px;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (min-width: 834px) {
  .heading {
    margin-bottom: 10px;
  }

  .trending {
    width: auto;
    padding: 80px 72px;
  }

  .cards {
    display: flex;
    gap: 30px;
  }

  .card {
    flex: 1;
  }

  .card:nth-child(n + 2) {
    display: block;
  }

  .card:nth-child(n + 3) {
    display: none;
  }
}

@media (min-width: 1280px) {
  .trending {
    padding: 80px 115px;
  }

  .heading {
    font-size: 38px;
    line-height: 140%;
  }

  .text {
    font-size: 22px;
    line-height: 160%;
    margin-bottom: 60px;
  }

  .card:nth-child(n + 3) {
    display: block;
  }
}
